.select {
  z-index: 5;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.configuration-sections {
  padding-bottom: 1rem;
}

.motor-description {
  color: var(--gray-500);
}
