.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.config-container {
  height: 100%;
  overflow-x: hidden;
  padding: 0 2rem 1rem;
}

.config-internal-container {
  margin: auto;
  // max-width: 60rem;
}

.select-container {
  background-color: white;
  height: 5.25rem;
  padding-top: 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.configs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.motor-description {
  color: var(--gray-500);
}
