.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.config-container {
  height: 100%;
  overflow-x: hidden;
  padding: 0 2rem 1rem;
}

.config-internal-container {
  margin: auto;
  max-width: 60rem;
}

.select-container {
  background-color: white;
  height: fit-content;
  padding: 2rem 0 1rem;
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 100;
}

.configs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
