$danger-background: var(--red-100);
$danger-border: var(--red-200);

.option {
  padding: 0 !important;

  &:not(:last-child) {
    .delete {
      border-bottom: 1px solid $danger-border;
    }
  }

  .container {
    display: grid;
    grid-template-columns: auto 2rem;

    .label {
      overflow: hidden;
      padding: 0.5rem 0.75rem;
      text-overflow: ellipsis;
    }

    .delete {
      align-items: center;
      background-color: $danger-background;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: hsl(from $danger-background h s calc(l - 5));
      }

      .icon {
        color: var(--danger);
      }
    }
  }
}
