.container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  width: 100%;
  max-width: none;
}

.internal-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
  width: 100%;
}

.id-column {
  width: 8rem;
}

.action-container {
  display: flex;
  gap: 0.75rem;
  justify-content: flex-end;
}

.spinner {
  height: 100%;
}

.add-button {
  width: fit-content;
}
