.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.container-inline {
  flex-direction: row;
}

.title {
  margin-bottom: 0.5rem;
}
.title-inline {
  display: block;
  margin: auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15rem;
}

.slider {
  margin: 0 0.5rem 1.25rem;
}
.slider-inline {
  margin-bottom: 0;
  width: 100%;
}

.configuration {
  display: flex;
  flex-direction: column;

  button {
    height: fit-content;
  }
}

.form-group {
  display: flex;
  gap: 0.75rem;
  width: fit-content;
}

.input-group {
  width: 9rem;
}

.input {
  // remove arrows from number input to avoid confusion
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.feedback {
  margin-top: 0.25rem;
}
