.container {
  display: flex;
  gap: 1rem;

  .name {
    margin: auto;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10rem;
  }

  .slider {
    width: 100%;
  }

  .value-input {
    width: 5rem;
  }
}
