$image-size: 15rem;

.configuration-instructions-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;

  .content {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: auto 15rem;
  }

  .images {
    align-items: center;
    background-color: var(--gray-200);
    border-radius: 0.5rem;
    display: flex;
    height: $image-size;
    justify-content: center;
    width: $image-size;

    .image-carousel:not(.fullscreen-modal) {
      .image-gallery-index {
        border-radius: 0 0.5rem 0 0;
      }

      img {
        border-radius: 0.5rem;
        height: $image-size;
        width: $image-size;
      }
    }
  }
}
