.controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
  padding: 0.25rem 2rem 1rem;
}

.fullscreen {
  background: white;
  height: 100%;
  left: 0;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 5;
}
