.sidebar {
  background-color: var(--indigo-500);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 16rem;
  min-width: 16rem;
  transition: all 0.35s ease-out;

  &.collapsed {
    max-width: 4rem;
    min-width: 4rem;
  }

  .top-options {
    width: 100%; // required for expand/collapse animation.

    .collapse-button-container {
      align-items: center;
      display: flex;
      margin: 0.5rem auto 0.5rem 1rem;

      .collapse-button {
        align-items: center;
        background-color: var(--indigo-600);
        border-radius: 50%;
        display: flex;
        height: 2rem;
        justify-content: center;
        padding: 0.35rem;
        width: 2rem;

        & svg {
          color: white;
        }
      }
    }
  }

  .item {
    width: 100%;

    &:hover {
      background-color: var(--indigo-600);
      cursor: pointer;
    }

    .link {
      align-items: center;
      color: white;
      display: flex;
      height: 3.5rem;

      &.collapsed {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .icon-container {
        display: flex;
        justify-content: center;
        max-width: 2rem;
        min-width: 2rem;

        .icon {
          max-width: 1.25rem;
          min-width: 1.25rem;
        }
      }

      .text {
        margin-left: 0.5rem;

        &.collapsed {
          margin-left: 0;
          visibility: hidden;
          width: 0;
        }

        &:not(.collapsed) {
          transition: all 0.35s ease-out;
          transition-delay: 0.35s;
        }
      }
    }
  }

  .selected {
    background-color: var(--indigo-600);
  }
}
