.sidebar {
  background-color: var(--indigo-500);
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  min-width: 16rem;
  transition: all 0.35s ease-out;

  &.collapsed {
    max-width: 4rem;
    min-width: 4rem;
  }

  .collapse-button {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 1rem 1rem auto;

    & svg {
      color: white;
    }
  }

  .item {
    width: 100%;

    &:hover {
      background-color: var(--indigo-600);
      cursor: pointer;
    }

    .link {
      align-items: center;
      color: white;
      display: flex;
      height: 3rem;

      &.collapsed {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .icon {
        max-width: 20px;
        min-width: 20px;
      }

      .text {
        margin-left: 0.5rem;

        &.collapsed {
          margin-left: 0;
          visibility: hidden;
          width: 0;
        }

        &:not(.collapsed) {
          transition: all 0.35s ease-out;
          transition-delay: 0.35s;
        }
      }
    }
  }

  .selected {
    background-color: var(--indigo-600);
  }
}
