.sidebar {
  display: flex;
  flex-direction: column;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  background-color: var(--indigo-500);

  .collapse {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 1.5rem;

    & svg {
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .item {
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;

    &:hover {
      background-color: var(--indigo-600);
      cursor: pointer;
    }

    .link {
      align-items: center;
      color: white !important;
      display: flex;
      gap: 0.5rem;
      height: 2rem;
      padding: 1.4rem 0.75rem;
    }
  }

  .selected {
    background-color: var(--indigo-600);
  }
}
