.collapsable-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.content {
  max-height: 40rem;
  overflow: hidden;
  padding-bottom: 0.25rem;
  row-gap: 0.5rem;
  transition: all 0.35s ease-out;

  &.collapsable {
    padding-left: calc(18px + 0.5rem);
  }

  &.collapsed {
    max-height: 0;
  }
}
