.animation-configuration-spinner {
  height: 100%;
}

.animation-configuration-select {
  font-weight: bold;
  margin: 0 2rem;
  z-index: 5;
}

.animation-configuration-alert {
  margin: 1rem 2rem 0;
}

.animation-configuration-instructions {
  padding: 1rem 2rem 0;

  .image-carousel.fullscreen-modal {
    width: 50%;
    margin-left: auto;
  }
}
