.select-container {
  align-items: center;
  display: flex;
  gap: 1rem;

  .configuration {
    width: 20rem;
  }

  .item {
    width: 100%;
  }

  .delete {
    color: var(--danger);
  }

  .add {
    color: var(--success);
  }
}
